{{!-- ===================================NAVBAR=========================================== --}}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="nav-left">
    {{!-- <a id="logo-name" class="navbar-brand" href="/">
      <h3><img id="logo-img" src="../images/flow.jpg" class="" alt="..."> acompanhe aqui</h1>
    </a> --}}
    <a id="logo-name" class="navbar-brand" href="/">
      <h3>acompanhe aqui</h1>
    </a>
  </div>
  <div class="nav-right">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a id="signup-button" class="btn btn-primary" href="/home">Minha página<span
            class="sr-only">(current)</span></a>
        <a id="sair-button" class="btn btn-primary" href="/">Sair</a>
      </div>
    </div>
  </div>
</nav>
{{!-- </section> --}}


<section id="customer-container">
  <!-- ===================================CUSTOMER 1=========================================== -->
  <!-- <div class="container"> -->
  <!-- Stack the columns on mobile by making one full-width and the other half-width -->
  <div class="customer-profile card mb-3" style="max-width: 90vw;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="https://torneioempreendedor.com.br/wp-content/uploads/2018/04/inscricoes-fechadas.png"
          class="card-img" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h1>Barrichello</h1>
          <h4>CPF: 000.000.000-00</h4>
          <a href="#" class="btn btn-primary">Editar perfil</a>
        </div>
      </div>
    </div>
  </div>
  <!-- </div> -->

</section>
<!-- ===================================PROVIDER2=========================================== -->

<section id="customer">
  <h2>Meus serviços</h2>
  {{!-- <div class="search-container"> --}}
  <div class="search-container form-group col-md-6">
    <div>
      <label class="search-label" for="inputPassword4">Filtrar por:</label>
    </div>
    <div>
      <select id="inputState" class="form-control">
        <option>sem orçamento</option>
        <option>mais antigos</option>
        <option>mais recentes</option>
        <option>finalizados</option>
        <option>outros</option>
      </select>
    </div>
  </div>


  <div id="customer-services">




    <div id="customer-cards" class="customer-card card mb-3">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="https://attorneysforfreedom.com/wp-content/uploads/2017/06/Holding-Drunk-Drivers-Accountable.jpg"
            class="card-img" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h3>Mecânica dos Famosos</h3>
            <h5>CNPJ: 00.000.000/0000-00</h5>
            <p class="card-text"><strong>Serviço:</strong> Alinhamento</p>
            <a href="#" class="btn btn-primary">Acompanhe</a>
          </div>
        </div>
      </div>
    </div>

    <div id="customer-cards" class="customer-card card mb-3">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="https://images.assets-landingi.com/d2p4wga8/roupa_manchada_fundo_bege.jpg" class="card-img"
            alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h3>Lavanderia Manchas</h3>
            <h5>CNPJ: 00.000.000/0000-00</h5>
            <p class="card-text"><strong>Serviço:</strong> Lavagem</p>
            <a href="#" class="btn btn-primary">Acompanhe</a>
          </div>
        </div>
      </div>
    </div>

    <div id="customer-cards" class="customer-card card mb-3">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img
            src="https://cdn-istoe-ssl.akamaized.net/wp-content/uploads/sites/14/2017/07/d0ee60bfad29fdcb333d77db83cd1f73bab9bfef.jpg"
            class="card-img" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h3>Marmitas de Pedreiro</h3>
            <h5>CNPJ: 00.000.000/0000-00</h5>
            <p class="card-text"><strong>Serviço:</strong> Marmita 1kg</p>
            <a href="#" class="btn btn-primary">Acompanhe</a>
          </div>
        </div>
      </div>
    </div>

    <div id="customer-cards" class="customer-card card mb-3">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="https://attorneysforfreedom.com/wp-content/uploads/2017/06/Holding-Drunk-Drivers-Accountable.jpg"
            class="card-img" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h3>Mecânica dos famosos</h3>
            <h5>CNPJ: 00.000.000/0000-00</h5>
            <p class="card-text"><strong>Serviço:</strong> Alinhamento</p>
            <a href="#" class="btn btn-primary">Acompanhe</a>
          </div>
        </div>
      </div>
    </div>
  </div>



  <!--     
    <div class="provider-card card mb-3" style="max-width: 90vw;">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="https://attorneysforfreedom.com/wp-content/uploads/2017/06/Holding-Drunk-Drivers-Accountable.jpg"
            class="card-img" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h3>Mecânica dos famosos</h3>
            <h5>CNPJ: 00.000.000/0000-00</h5>
            <p class="card-text"><strong>Serviço:</strong> Alinhamento</p>
            <a href="#" class="btn btn-primary">Acompanhe</a>
          </div>
        </div>
      </div>
    </div>
    <div class="provider-card card mb-3" style="max-width: 90vw;">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="https://attorneysforfreedom.com/wp-content/uploads/2017/06/Holding-Drunk-Drivers-Accountable.jpg"
            class="card-img" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h3>Mecânica dos famosos</h3>
            <h5>CNPJ: 00.000.000/0000-00</h5>
            <p class="card-text"><strong>Serviço:</strong> Alinhamento</p>
            <a href="#" class="btn btn-primary">Acompanhe</a>
          </div>
        </div>
      </div>
    </div> -->

</section>