<div>
  <div class="card border-info mb-3" style="max-width: 18rem;">
    <a href="/newservice"><div class="card-header">Cadastrar Novo Serviço</div></a>
    <div class="card-body text-info">
      <h5 class="card-title"></h5>
      <p class="card-text"></p>
    </div>
  </div>
<div>
  <div class="card border-info mb-3" style="max-width: 18rem;">
    <a href="/detail/1"><div class="card-header">Juliano de Almeida</div></a>
    <div class="card-body text-info">
      <h5 class="card-title">Revisão Completa</h5>
      <p class="card-text">O cliente pediu urgência no serviço.</p>
    </div>
  </div>